.dsw {
  padding-top: 5rem;
  padding-bottom: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  @media screen and (max-width: 720px) {
    flex-direction: column;
    padding-top: 0rem;
  }

  .dsw-logo {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    @media screen and (max-width: 720px) {
      display: none;
    }
  }

  .dsw-logo-mobile {
    display: none;
    @media screen and (max-width: 720px) {
      display: block;
      img {
        height: 8rem;
        width: 11rem;
      }
    }
  }

  .faculty {
    flex: 1;

    div {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1 1 0px;
    }
  }
}
