.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("../../assets/aboutBackground.svg"),
    url("../../assets/aboutBackground.svg");
  background-repeat: no-repeat, no-repeat;
  background-size: 20%, 20%;
  background-position: top right, bottom left;
  padding-top: 5rem;
  padding-bottom: 5rem;
  min-height: 100vh;
  @media screen and (max-width: 768px) {
    h1 {
      font-size: 2rem;
    }
    min-height: 70vh;
    background-size: 30%, 30%;
  }
}

.about_title {
  font-family: "Poppins", sans-serif;
  margin-bottom: 2rem;
}

.about__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex: 1 1 0px;

  @media (max-width: 768px) {
    flex-direction: column;
  }

  div {
    flex: 1;
  }

  h1 {
    font-family: var(--font-family);
    font-size: 2rem;
    font-weight: 600;
    display: inline;
  }
}

.about__content__image {
  display: flex;
  justify-content: center;
  align-items: center;
  //   flex: 1 1 0px;
  margin-right: 2rem;

  img {
    width: 15rem;
    height: auto;
  }

  @media screen and (max-width: 768px) {
    img {
      width: 100%;
      height: auto;
    }
    margin-right: 0rem;
    margin-bottom: 1rem;
  }
}

h1 {
  color: white;
  font-size: 4rem;
  @media screen and (max-width: 768px) {
    font-size: 1.3rem;
  }
}

p {
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 1.6rem;
  @media screen and (max-width: 768px) {
    font-size: 1.2rem;
  }
}

.about__content__text {
  div {
    margin-bottom: 1rem;
  }
  @media screen and (max-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    h1 {
      font-size: 1.3rem;
    }
  }
}
