.header {
  display: flex;
  flex-direction: column;
  justify-content: centre;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  padding-top: 15vh;

  @media screen and (max-width: 1500px) {
    background-size: 23rem 23rem;
  }

  @media screen and (max-width: 550px) {
    background-position: 50% 5.2rem;
    background-size: 22rem 22rem;
  }

  h1 {
    display: inline;
    font-family: var(--font-family);
  }

  .header-logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 27rem;
    max-width: 27rem;

    img {
      max-width: 100%;
      height: auto;
    }

    @media screen and (max-width: 1500px) {
      top: 25%;
    }

    @media screen and (max-width: 1500px) {
      top: 31%;
    }

    @media screen and (max-width: 550px) {
      left: 49.5%;
      top: 35%;
    }
  }

  .header-text {
    text-align: center;

    h1 {
      display: inline;
      font-size: 2rem;
      font-weight: 600;
    }

    @media screen and (max-width: 720px) {
      top: 51%;
    }
  }

  .header-subtext {
    h1 {
      display: inline;
      font-size: 2rem;
      font-weight: 600;
      color: #fff;

      @media screen and (max-width: 550px) {
        font-size: 1.5rem;
      }
    }

    @media screen and (max-width: 1500px) {
      top: 49%;
    }

    @media screen and (max-width: 550px) {
      top: 65%;
    }
  }

  .header-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;

    button {
      box-sizing: border-box;
      color: #ffffff;
      cursor: pointer;
      flex-shrink: 0;
      font-family: "Poppins", sans-serif;
      font-size: 22px;
      font-weight: 500;
      height: 4rem;
      padding: 0 3rem;
      text-align: center;
      text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
      transition: all 0.5s;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;

      @media screen and (max-width: 720px) {
        padding: 0 1rem;
      }
    }

    .button-join-us {
      background: linear-gradient(98.25deg, #d35704 -29.52%, #ffd81c 130.85%);
      border-radius: 3px;
      border-style: none;

      &:hover {
        animation: pulse 1s infinite;
        transition: 0.3s;
      }
    }

    @keyframes pulse {
      0% {
        transform: scale(1);
      }

      70% {
        transform: scale(0.9);
      }

      100% {
        transform: scale(1);
      }
    }

    .button-events {
      background-color: black;
      border-radius: 3px;
      border-style: none;
      border-color: #ff8c32;
      border: 2px solid #ff8c32;
      margin-right: 12rem;

      &:hover {
        animation: pulse 1s infinite;
        transition: 0.3s;
      }

      @media screen and (max-width: 720px) {
        margin-right: 5rem;
      }
    }

    @media screen and (max-width: 1500px) {
      top: 56%;
    }

    @media screen and (max-width: 1000px) {
      top: 67%;
    }

    @media screen and (max-width: 550px) {
      top: 75%;
    }
  }

  @media (min-width: 768px) {
    .button-36 {
      padding: 0 2.6rem;
    }
  }
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(243, 106, 21, 0.2);
  animation: animate 5s linear infinite;
  // bottom: -150px;
  top: 10rem;
  left: -10rem;
}

.circles li:nth-child(1) {
  // left: 25%;
  top: 25rem;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  // left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  // left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  // left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  // left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  // left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  width: 25px;
  height: 25px;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  width: 150px;
  height: 150px;
  animation-delay: 2s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateX(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateX(2000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}