.latest-events {
  padding-top: 5rem;
  padding-bottom: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("../../assets/aboutBackground.svg"),
    url("../../assets/aboutBackground.svg");
  background-repeat: no-repeat, no-repeat;
  background-size: 20%, 20%;
  background-position: top left, bottom right;

  min-height: 100vh;

  h1 {
    font-family: "Poppins", sans-serif;
  }
  @media screen and (max-width: 768px) {
    h1 {
      font-size: 2rem;
    }
    min-height: 70vh;
    background-size: 30%, 30%;
  }
}

.iframe {
  margin-top: 3rem;
  width: 50rem;
  height: 30rem;

  transition: 0.8s;

  &:hover {
    border: 1px solid #ff8c32;
  }

  @media screen and (max-width: 768px) {
    width: 20rem;
    height: 20rem;
    border: 1px solid #ff8c32;
    max-height: fit-content;
  }
}
